<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <script src="https://kit.fontawesome.com/fc2bb77ae0.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <style>
        .container {
            max-width: 560px;
            max-height: 1000px;
        }

        #title {
            margin-bottom: 10px;
        }

        #content {
            height: 200px;
            margin-bottom: 10px;
        }
    </style>
    <script>



        function posting(){
            console.log("posting")

            let title = $("#title").val()
            let content = $("#content").val()

            $.ajax({
                type:"POST",
                url:"/board/save",
                data:{
                    title: title,
                    content: content
                },
                success: function(response){
                    window.location.href = '/board/List';
                }
            })
        }

    </script>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>게시글 등록 폼</h2>
    </div>
    <h4 class="mb-3">게시글 입력</h4>

    <div>
        <div>
            <label for="title">제목</label>
            <input type="text" id="title" name="title" class="form-control" placeholder="제목을 입력해주세요">
        </div>
        <div>
            <label for="content">본문</label>
            <input type="text" id="content" name="content" class="form-control"
                   placeholder="본문을 입력해주세요">
        </div>

        <hr class="my-4">
        <div class="row">
            <div class="col">
                <button onclick="posting()" class="w-100 btn btn-primary btn-lg">게시글 등록</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='/board/List'"
                        th:onclick="|location.href='@{/board/List}'|"
                        type="button">취소
                </button>
            </div>
        </div>
    </div>
</div> <!-- /container -->
</body>
</html>