<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <script src="https://kit.fontawesome.com/fc2bb77ae0.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <style>
        .container {
            max-width: 560px;
            max-height: 1000px;
        }
        #date{
            margin-bottom: 10px;
        }
        #boardId{
            margin-bottom: 10px;
        }
        #writer{
            margin-bottom: 10px;
        }

        #title{
            margin-bottom: 10px;
        }

        #content {
            height: 200px;
            margin-bottom: 10px;
        }
        #commentContainer{
            height: 100px;
            margin-bottom: 30px;
        }
        .commentInputBox{
            width: 392px;
            height:60px;
            margin-bottom: 10px;
            margin-right: 5px;
        }
        .commentButton{
            width: 158px;
            height:60px;
            margin-bottom: 10px;
        }
        .commentSmallButton{
            width: 5px;
            margin-left: 5px;
        }

        #editCommentContent{
            width: 133px;
            height: 60px;
        }

    </style>
    <script>

        $("#document").ready(function(){
            console.log("hi")
            console.log([[${userBackendId}]])
        })


        function commentPosting(){
            console.log("commentPosting")

            let boardId = $("#boardId").val()
            let commentContent = $("#commentContent").val()

            console.log(boardId);
            console.log(commentContent);

            console.log([[${userBackendId}]])

            if([[${userBackendId}]] == 0){
                alert("로그인이 필요한 기능입니다.")
                window.location.href = '/user/login';
            }

            if(commentContent ==""){
                alert("댓글 내용을 입력해주세요")

                window.location.href = '/board?id='+boardId;

            }
            else {
                $.ajax({
                    type: "POST",
                    url: "/comment/save",
                    data: {
                        boardId: boardId,
                        contents: commentContent
                    },
                    success: function (response) {
                        window.location.href = '/board?id=' + boardId;
                    }
                })
            }
        }

        function commentUpdating(commentId){
            console.log("commentUpdating")

            let boardId = $("#boardId").val()
            let editCommentContent = $("#editCommentContent").val()

            console.log(editCommentContent);
            console.log(commentId);

            $.ajax({
                type:"PUT",
                url:"/comment/update?id="+commentId,
                data:{
                    boardId:null,
                    contents:editCommentContent
                },
                success: function(response){
                    window.location.href = '/board?id='+boardId;
                }
            })
        }

        function commentDelete(commentId){
            console.log("commentUpdating")

            let boardId = $("#boardId").val()

            let result = confirm("정말로 삭제하시겠습니까?")
            if(result == true){
                $.ajax({
                    type:"GET",
                    url:"/comment/delete?id="+commentId,
                    success: function(response){
                        window.location.href = '/board?id='+boardId;
                    }
                })
            }
            else{

                return;
            }

        }


    </script>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>게시글 상세</h2>
    </div>

    <hr class="my-4">
    <div class="row">
        <div class="col">
            <button th:if = "${userBackendId == board.getUserId()}" class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='editForm.html'"
                    th:onclick="'window.location.href = \'' + @{/board/update?id={id}(id=${board.getId()})} + '\''"
                    type="button">게시글 수정</button>
        </div>
        <div class="col">
            <button th:if = "${userBackendId == board.getUserId()}"
                    class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='items.html'"
                    th:onclick="'window.location.href = \'' + @{/board/delete?id={id}(id=${board.getId()})} + '\''"
                    type="button">게시글 삭제</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='boards.html'"
                    th:onclick="|location.href='@{/board/List}'|"
                    type="button">목록으로</button>
        </div>
    </div>

    <h2 th:if="${param.status}" th:text="'저장 완료!'"></h2>
    <div>
        <label for="date">날짜</label>
        <input type="text" id="date" name="boardDate" class="form-control"
               value="1" th:value="${board.getCreatedAt()}" readonly>
    </div>
    <div>
        <label for="writer">글 번호</label>
        <input type="text" id="boardId" name="boardId" class="form-control"
               value="1" th:value="${board.getId()}" readonly>
    </div>
    <div>
        <label for="writer">작성자</label>
        <input type="text" id="writer" name="writer" class="form-control"
               value="1" th:value="${board.getWriter()}" readonly>
    </div>

    <div>
        <label for="title">제목</label>
        <input type="text" id="title" name="title" class="form-control"
               value="제목1" th:value="${board.getTitle()}" readonly>
    </div>
    <div>
        <label for="content">본문</label>
        <input type="text" id="content" name="content" class="form-control"
               value="컨텐츠" th:value="${board.getContents()}" readonly>
    </div>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>작성이</th>
                <th>내용</th>
                <th>날짜</th>
                <th>수정</th>
                <th>삭제</th>
            </tr>
            </thead>
            <tbody>
            <tr  th:each="comment : ${board.getCommentList()}">
                <td th:text="${comment.getWriter()}">작성이</td>
                <td><input type="text" id="editCommentContent" value="내용" th:value="${comment.getContents()}"></td>
                <td th:text="${comment.getCreatedAt()}">날짜</td>
                <td th:if = "${userBackendId == comment.getUserId()}" class = "commentSmallButton" >
                    <button th:onclick="commentUpdating([[${comment.getId()}]]);" class = "commentSmallButton w-100 btn btn-primary btn-lg">수정</button>
                </td>
                <td th:if = "${userBackendId == comment.getUserId()}" class = "commentSmallButton">
                    <button th:onclick="commentDelete([[${comment.getId()}]]);" class = "commentSmallButton w-100 btn btn-primary btn-lg">삭제</button>
                </td>
            </tr>

            </tbody>
        </table>
    </div>

    <div id = "commentContainer">
        <hr class="my-4">
        <div class="row">
            <div class ="col commentInputBox" >
                <input id = "commentContent" type="text" class = " form-control commentInputBox" name="commentContent"
                       placeholder="댓글을 입력해주세요">
            </div>
            <div class ="col commentButton" >
                <button onclick="commentPosting()" class="commentButton w-100 btn btn-primary btn-lg">댓글 등록</button>
            </div>
        <div>
    </div>


</div> <!-- /container -->



</body>
</html>