<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <script src="https://kit.fontawesome.com/fc2bb77ae0.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
            max-height: 1000px;
        }

        #title {
            margin-bottom: 10px;
        }

        #content {
            height: 200px;
            margin-bottom: 10px;
        }

    </style>
    <script>
        function updating(){
            console.log("updating")

            let boardId = $("#boardId").val()
            let title = $("#title").val()
            let content = $("#content").val()

            console.log(title)
            console.log(content)

            $.ajax({
                type:"PUT",
                url:`/board/update?id=${boardId}`,
                data:{
                    title: title,
                    content: content
                },
                success: function(response){
                    window.location.href = '/board/List';
                }
            })
        }
    </script>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>게시글 수정 폼</h2>
    </div>
    <div>
        <div>
            <label for="title">글 번호</label>
            <input type="text"class="form-control" id="boardId" name="boardId" th:value="${board.getId()}">
        </div>
        <div>
            <label for="title">제목</label>
            <input type="text"class="form-control" id="title" name="title" th:value="${board.getTitle()}">
        </div>
        <div>
            <label for="content">본문</label>
            <input type="text" id="content" name="content" class="form-control"
                   th:value="${board.getContents()}">
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col">
                <button onclick="updating()" class="w-100 btn btn-primary btn-lg">게시글 수정</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='board.html'"
                        th:onclick="'window.location.href = \'' + @{/board?id={id}(id=${board.getId()})} + '\''"
                        type="button">취소</button>
            </div>
        </div>
    </div>
</div> <!-- /container -->
</body>
</html>