<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <script src="https://kit.fontawesome.com/fc2bb77ae0.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>





    <meta charset="UTF-8">
    <title>회원가입 페이지</title>
    <script>
        let usernameResult = false;
        let passwordResult = false;

        function onclickAdmin() {
            // Get the checkbox
            var checkBox = document.getElementById("admin-check");
            // Get the output text
            var box = document.getElementById("admin-token");

            // If the checkbox is checked, display the output text
            if (checkBox.checked == true){
                box.style.display = "block";
            } else {
                box.style.display = "none";
            }
        }

        // username 중복 메시지 띄우기
        $("#document").ready(function(){
            //console.log("ready")

            $("#login-id-submit").hide()
            $("#passwordCheck").attr("readonly", true);

            let msg = "[[${msg}]]"
            if(msg != ""){
                alert(msg)
            }
        })

        // 아이디 체크
        function usernameCheck(asValue) {
            //console.log("username Check")
            var regExp = /^(?=.*[a-zA-Z])[-a-zA-Z0-9_.]{3,10}$/;
           // console.log(regExp)

            if (!regExp.test(asValue)) {
               // console.log("유저네임 불가능")
                $("#help-id").text("아이디는 영문과 숫자, 일부 특수문자(._-) 사용 가능. 3-10자 길이만 가능합니다.")
                $("#username").focus()

                usernameResult = false;
            }
            else{
               // console.log("유너네임 가능")
                $("#help-id").text("사용 가능한 아이디 입니다.")
                usernameResult = true
            }
        }

        // 비밀번호 체크
        function passwordMethod(asValue) {
           // console.log("passwordMethod")
            var username = $("#username").val()
            var password = $("#password").val()

            if(password.includes(username) || password.length < 4){
                //유저네임 포함됨
                $("#help-password").text("비밀번호에 유저네임 혹은 글자 수 4이상이 만족하지 않습니다.")
            }
            else{
                $("#passwordCheck").attr("readonly", false);
                $("#help-password").text("사용 가능한 비밀번호 입니다.")

            }
        }

        //비밀번호 확인 체크
        function passwordCheckMethod(){
          //  console.log("passwordCheck")

            let password = $("#password").val()
            let passwordCheck = $("#passwordCheck").val()

            if(password == passwordCheck){
             //   console.log("비밀번호도 맞음")
                $("#help-check-password").text("비밀번호가 같습니다.")
                passwordResult = true;

            }
            else {
                console.log("비밀번호 틀림")
                $("#help-check-password").text("비밀번호가 틀립니다.")
                passwordResult = false;
            }
        }

        //적합성 체크하기
        function signupCheck(){
            var checkBox = document.getElementById("signup-check");
           // console.log(checkBox)


            if(checkBox.checked == true){
              //  console.log('checkbox - true')
                if(usernameResult == true){
                 //   console.log("username true")
                    if(passwordResult == true){
                        console.log("password result ture")
                        $("#help-signup").text("")
                        $("#login-id-submit").show()

                        $("#password").attr("readonly",true);
                        $("#passwordCheck").attr("readonly",true);
                        $("#username").attr("readonly",true);
                    }
                    else{
                        $("#help-check-password").text("비밀번호가 틀립니다.")
                        $("#help-signup").text("아이디 비밀번호가 다시 확인해주세요.")
                    }
                }
                else{
                    $("#help-id").text("아이디는 영문과 숫자, 일부 특수문자(._-) 사용 가능. 3-10자 길이만 가능합니다.")
                    $("#help-signup").text("아이디 비밀번호가 다시 확인해주세요.")
                }
            }
            else{
                $("#help-signup").text("")
                $("#login-id-submit").hide()
            }

        }



    </script>
    <style>
        .help-text{
            font-size: smaller;
        }
    </style>
</head>
<body>
<div id="login-form">
    <div id="login-title">Sign up Select Shop</div>

    <form action="/user/signup" method="post">
        <div class="login-id-label">Username</div>
        <input type="text" onchange="usernameCheck(this.value)" id = "username" name="username" placeholder="Username" class="login-input-box">
        <p class="help-text" id = "help-id">아이디는 2-10자의 영문과 숫자와 일부 특수문자(._-)만 입력 가능합니다.</p>

        <div class="login-id-label">Password</div>
        <input type="password" onchange="passwordMethod()" id = "password" name="password" class="login-input-box">
        <p class="help-text"  id ="help-password" >최소 4자 이상이며, 닉네임과 같은 값이 포함되었있으면 불가능합니다.</p>

        <div class="login-id-label">Password Check</div>
        <input type="password" onchange="passwordCheckMethod()" id = "passwordCheck" name="passwordCheck" class="login-input-box">
        <p class="help-text"  id ="help-password-check"></p>

        <div class="login-id-label">E-mail</div>
        <input type="text" id = "email" name="email" placeholder="E-mail" class="login-input-box">

        <div>
            <input id="admin-check"  type="checkbox" name="admin" onclick="onclickAdmin()" style="margin-top: 40px;">관리자</input>
            <input id="admin-token"  type="password" name="adminToken" placeholder="관리자 암호" class="login-input-box" style="display:none">
        </div>

        <div style = "margin-bottom: 10px">

        </div>
        <input id="signup-check"  onclick="signupCheck()" type="checkbox" name="signup-check"  style="margin-top: 40px;">회원가입 체크</input>
        <p class="help-text"  id ="help-signup" ></p>
        <button id="login-id-submit" >회원 가입</button>

    </form>
</div>
</body>
</html>